<footer>
	<div class="contenu-footer">

		<div class="bloc">
			<h3 class="titrebloc">Mentions légales</h3>
			<ul class="listM">
				<li>
					<a href="{{ path('app_privacy') }}">Politique de confidentialité</a>
				</li>
				<li>
					<a href="{{ path('app_legal') }}">Mentions légales</a>
				</li>
				<li>
					<a href="{{ path('app_cgv') }}">Conditions générales de vente</a>
				</li>
			</ul>
		</div>

		<div class="bloc">
			<h3 class="titrebloc">Services</h3>
			<ul class="listS">
				<li>
					<a href="{{ path('app_story') }}">Notre Univers XIV</a>
				</li>
				<li>
					<a href="{{ path('app_sitemap') }}">Plan du site</a>
				</li>
			</ul>
		</div>


		<div class="bloc">
			<h3 class="titrebloc">Contactez-nous</h3>
			<ul class="listS">
			    <li>
					<a href="{{ path('app_contact') }}">Nous envoyer un mail</a>
				</li>
			</ul>
		</div>



		<div class="bloc">
			<h3 class="titrebloc">Suivez-nous sur</h3>
			<ul class="listN">
				<li>
					<a href="https://www.instagram.com/?hl=fr" target="bank"><i class="fa-brands fa-instagram"></i>  Instagram</a>
				</li>
				<li>
					<a href="https://www.facebook.com/" target="bank"><i class="fa-brands fa-facebook"></i>  Facebook</a>
				</li>
				<li>
                    <a href="https://www.pinterest.fr" target="bank"><i class="fa-brands fa-pinterest"></i>  Pinterest</a>
				
				</li>
				<li>
					<a href="https://twitter.com/?lang=fr" target="bank"><i class="fa-brands fa-twitter"></i>  Twitter</a>
				</li>
			</ul>
		</div>

	</div>

	<div class="footerbottom">
      <p>&copy;	Copyright 2022 <strong>XIV REGALIA</strong></p>
	</div> 

</footer>
